In [19]:
import pandas as pd
import numpy as np
import requests
import json
import time

In [ ]:
url = "https://www.google.fr/maps/search/restaurant/@48.8592335,2.3176167,12.98z?entry=ttu&g_ep="

In [ ]:
coordinates = ['48.8592335, 2.3176167']
keywords = ['restaurant']
api_key = 'EgoyMDI0MTAyOS4wIKXMDSoASAFQAw'
radius = '10'

In [ ]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+coordinate+'&radius='+str(radius)+'&keyword='+str(keyword)+'&key='+str(api_key)

In [ ]:

final_data = []


for coordinate in coordinates:
    for keyword in keywords:
        url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location='+coordinate+'&radius='+str(radius)+'&keyword='+str(keyword)+'&key='+str(api_key)
        while True:
print(url)
respon = requests.get(url)
jj = json.loads(respon.text)
results = jj['results']
for result in results:
name = result['name']
place_id = result ['place_id']
lat = result['geometry']['location']['lat']
lng = result['geometry']['location']['lng']
rating = result['rating']
types = result['types']
vicinity = result['vicinity']
data = [name, place_id, lat, lng, rating, types, vicinity]
final_data.append(data)
time.sleep(5)
if 'next_page_token' not in jj:
break
else:
next_page_token = jj['next_page_token']
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?key='+str(api_key)+'&pagetoken='+str(next_page_token)
labels = ['Place Name','Place ID', 'Latitude', 'Longitude', 'Types', 'Vicinity']
export_dataframe_1_medium = pd.DataFrame.from_records(final_data, columns=labels)
export_dataframe_1_medium.to_csv('export_dataframe_1_medium.csv')

In [4]:
df_b = pd.read_json('../data/yelp_dataset/yelp_academic_dataset_business.json', lines=True)

In [9]:
df_b_oakland = df_b[df_b.city=='Oakland']

In [17]:
df_ca = df_b[df_b.state=='CA']

In [18]:
df_ca.city.unique()

array(['Santa Barbara', 'Isla Vista', 'Goleta', 'Carpinteria',
       'Montecito', 'santa Barbara', 'Truckee', 'Santa Barbara ',
       'Ventura', 'Summerland', 'Port Hueneme', 'West Hill', 'Santa Ynez',
       'Sparks', 'Kings Beach', 'Mission Canyon', 'Los Angeles', 'Tampa',
       'Oxnard', 'Cerritos', 'Eagle', 'Reno', 'Meridian', 'Santa Clara',
       'Valencia', 'Real Goleta', 'Santa Barbara,', 'Spring Hill',
       'Aliso Viejo', 'SANTA BARBARA AP', 'South Lake Tahoe',
       'Santa Barbara & Ventura Counties', 'Santa Barbra',
       'SANTA BARBARA', 'Costa Mesa', 'Santa  Barbara', 'Salinas',
       'Carpinteria ', 'Santa Maria'], dtype=object)

In [14]:
df_b[[i.lower()=='oakland' for i in df_b.city]]

Empty DataFrame
Columns: [business_id, name, address, city, state, postal_code, latitude, longitude, stars, review_count, is_open, attributes, categories, hours]
Index: []